<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-id"></i>
                        {{ "SideBar.Users" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="" [routerLink]="['/roles/all']" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.RoleAndPer" | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-folder"></i>
                        {{ "SideBar.Contracts" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-folder"></i>
                        {{ "SideBar.typedepermission" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i> {{ "Licensetype" | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-plane"></i>
                        {{ "SideBar.PermissionEtConges" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-note2"></i>
                        {{ "SideBar.NotesPros" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" [routerLink]="['/divisions/all']" class="">
                        <i class="metismenu-icon">
                        </i>{{ "SideBar.Division" | translate }}
                    </a>
                    <ul>
                        <li>
                            <a href=""  [routerLink]="['/divisions/add']" class="">
                                <i class="metismenu-icon">
                                </i>creer une division
                            </a>
                            <a href=""  [routerLink]="['/divisions/update/{$id}']" class="">
                                <i class="metismenu-icon">
                                </i>mettre a jour un division
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-display1"></i>
                        {{ "SideBar.Career" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-refresh-2"></i>
                        {{ "SideBar.Assignment" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-study"></i>
                        {{ "SideBar.Training" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-hammer"></i>
                        {{ "SideBar.Sanction" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-news-paper"></i>
                        {{ "SideBar.Blog" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-call"></i>
                        {{ "SideBar.Contact" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                            <li>
                                    <a    class="">
                                        <i class="metismenu-icon">
                                        </i>Add Contact
                                    </a>
                                    <a    class="">
                                        <i class="metismenu-icon">
                                        </i>Update Contact
                                    </a>
                                </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>Analytics
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li class="">
                    <a href="index.html#">
                        <i class="metismenu-icon pe-7s-config"></i>
                        {{ "SideBar.SystemConfig" | translate }}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.ProSituation" | translate }}
                            </a>
                        </li>
                       
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.AssignmentType" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.ProfileElement" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.TypeConges" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.PermissionType" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.Template" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.BlogCat" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.DiscCouncil" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.NoteCriteria" | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="">
                                <i class="metismenu-icon">
                                </i>{{ "SideBar.Config" | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>  