<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="pe-7s-shield icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>{{ 'License.Licenses' | translate }}
                <div class="page-title-subheading">{{ 'License.LicenseTitle' | translate }}
                </div>
            </div>
        </div>   
    </div>
</div>   

<div class="row">
    <div class="col-md-12">
        <div class="tabs-animation">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
                    {{ 'License.Licenses' | translate }}               
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <form (submit)="onSubmit()" [formGroup]="licenseForm">
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.LicenseTypeLabel" | translate }}</label>
                                            <select formControlName="license_type_id" class="form-control {{ isSubmitted && form.license_type_id.errors ? 'is-invalid' : '' }}">
                                                <option value="" disabled selected hidden>{{ 'Form.LicenseTypeField'| translate }}</option>
                                                <option *ngFor="let license_type of license_types"  value="{{license_type.id}}">{{license_type.name}} </option>
                                            </select>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleText" class="">{{ "Form.ReasonLabel" | translate }} </label>
                                            <input name="text" id="exampleText" placeholder="{{ 'Form.ReasonField' | translate }}" type="text" formControlName="reason"  class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleText" class="">{{ "Form.DescriptionLabel" | translate }}</label>
                                            <textarea name="text" id="description" class="form-control"  formControlName="description" placeholder="{{ 'Form.DescriptionField' | translate }}">

                                            </textarea>
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleText" class="">{{ "Form.FileLabel" | translate }}</label>
                                            <input name="File" id="File" placeholder="{{ 'Form.FileField' | translate }}" type="file" formControlName="file" (change)=detectfile($event) class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.StartDateLabel" | translate }}</label>
                                            <input placeholder="{{ 'Form.StartDateField' | translate }}"  type="date" formControlName="requested_start_date"  class="form-control {{ isSubmitted && form.requested_start_date.errors ? 'is-invalid' : '' }}">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.DaysLabel" | translate }}</label>
                                            <input placeholder="{{ 'Form.DaysField' | translate }}"  type="number" formControlName="requested_days"  class="form-control {{ isSubmitted && form.requested_days.errors ? 'is-invalid' : '' }}">
                                        </div>
                                        
                                        <div class="d-flex align-items-center" style="width: 100%;">
                                            <button  [disabled]="isLoading" class="btn btn-primary btn-lg" style="width: 50%; justify-content: center; align-items: center; flex: 1;">
                                                <p *ngIf="!isLoading" style="font-size: 1.2em; padding: 0px; margin: 5px;">{{ "License.CreateLicense" | translate }}</p>
                                                <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                                    <div class="ball-scale-multiple">
                                                        <div style="background-color: white;"></div>
                                                        <div style="background-color: white;"></div>
                                                        <div style="background-color: white;"></div>
                                                    </div>
                                                </div>
                                            </button>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    