<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="pe-7s-shield icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>{{ 'ProSituation.ProSituations' | translate }}
                <div class="page-title-subheading">{{ 'ProSituation.ProSituationTitle' | translate }}
                </div>
            </div>
            <div class="page-title-actions">
                <a type="button" [routerLink]="['/roles/add']" data-toggle="tooltip" title="{{ 'Role.AddRole' | translate }}" data-placement="bottom" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-primary" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; flex-direction: row;">
                    <!-- <i class="pe-7s-diskette btn-icon-wrapper" style="font-size: 1.2em;"></i> -->
                    <p style="font-size: 1.2em; margin-top: 7%;">{{ 'ProSituation.AddProSituations' | translate }}</p>
                </a>
            </div>
        </div>   
    </div>
</div>   

<div class="tabs-animation">
    <div class="main-card mb-3 card">
        <div class="card-header">
            <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
            {{ 'ProSituation.ProSituations' | translate }}
        </div>
        <div class="card-body">
            
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'Form.NameLabel' | translate }}</th>
                        <th>{{ 'Form.DescriptionLabel' | translate }}</th>
                        <th>weight</th>
                        <th>{{ 'Form.CreatedAtLabel' | translate }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pro_situation of pro_situations,let i = index" id="tr{{ pro_situation.id }}">
                        <td style="width: 5%">{{ i+1 }}</td>
                        <td style="width: 19%">{{ pro_situation.name }}</td>
                        <td style="width: 19%">{{ pro_situation.description }}</td>
                        <td style="width: 25%">{{ pro_situation.weight }}</td>
                        <td style="width: 12%">{{ pro_situation.created_at }}</td>
                        <td style="width: 20%">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary" (click)="editProSituations(pro_situation)"><i class="pe-7s-pen btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success" (click)=" detailsProsituations(pro_situation)"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteProsituations(pro_situation)"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="loading && (!roles || !roles.length)">
                    <td colspan="7" class="text-center">
                        <div class="spinner-border spinner-sm">
                            <span class="sr-only">Patientez svp...</span>
                        </div>
                    </td>
                </tfoot>
                <tfoot *ngIf="!loading && (!pro_situations || !pro_situations.length)">
                    <td colspan="7" class="text-center">
                        Liste vide
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>